va

*.class

*.jar

*.war

*.log



# Maven

target/



# Gradle
.gradle/

build/



# 除外しないパス

!gradle/wrapper/gradle-wrapper.jar

!gradle/wrapper/gradle-wrapper.properties




# IDEs

.idea/

*.iml

.vscode/


